USE [master]
GO
/****** Object:  Database [PEGASUS]    Script Date: 3/15/2022 1:27:10 AM ******/
CREATE DATABASE [PEGASUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PEGASUS', FILENAME = N'S:\Santerk\Projects\ProyectoFinal\DataBase\PEGASUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PEGASUS_log', FILENAME = N'S:\Santerk\Projects\ProyectoFinal\DataBase\PEGASUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PEGASUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PEGASUS]
GO
/****** Object:  Table [dbo].[ASISTENCIA]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASISTENCIA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUMNO] [int] NOT NULL,
	[ID_MATERIA] [int] NOT NULL,
	[FECHA] [datetime] NOT NULL,
	[PRESENTE] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTACTOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NULL,
	[MAIL] [varchar](40) NULL,
	[TELEFONO] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CUADERNO_COMUNICADOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CUADERNO_COMUNICADOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUMNO] [int] NULL,
	[ID_PROFESOR] [int] NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DESEMPEÑO]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESEMPEÑO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUMNO] [int] NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[FECHA] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HIJOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HIJOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_PADRE] [int] NOT NULL,
	[ID_HIJO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTEGRANTES_EVENTOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTEGRANTES_EVENTOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_EVENTO] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INTEGRANTES_MATERIAS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTEGRANTES_MATERIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_MATERIA] [int] NOT NULL,
	[ID_USUARIO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MATERIAS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MATERIAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE] [varchar](40) NULL,
	[CURSO] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAGOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAGOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_ALUMNO] [int] NULL,
	[CONCEPTO] [varchar](40) NULL,
	[MONTO] [float] NULL,
	[PAGADO] [bit] NULL,
	[VENCIMIENTO] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAREAS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAREAS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TITULO] [varchar](40) NULL,
	[DESCRIPCION] [varchar](300) NULL,
	[FECHA_ENTREGA] [datetime] NULL,
	[ENTREGADO] [bit] NULL,
	[CALIFICACION] [float] NULL,
	[ID_MATERIA] [int] NULL,
	[ID_ALUMNO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 3/15/2022 1:27:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ACTIVO] [bit] NULL,
	[NOMBRE] [varchar](40) NULL,
	[APELLIDO] [varchar](40) NULL,
	[PERFIL] [varchar](40) NULL,
	[MAIL] [varchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ASISTENCIA] ON 
INSERT [dbo].[ASISTENCIA] ([ID], [ID_ALUMNO], [ID_MATERIA], [FECHA], [PRESENTE]) VALUES (1, 1, 1, CAST(N'2022-03-14T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ASISTENCIA] ([ID], [ID_ALUMNO], [ID_MATERIA], [FECHA], [PRESENTE]) VALUES (2, 1, 1, CAST(N'2022-03-15T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[ASISTENCIA] ([ID], [ID_ALUMNO], [ID_MATERIA], [FECHA], [PRESENTE]) VALUES (3, 1, 5, CAST(N'2022-03-14T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[ASISTENCIA] OFF 
GO
SET IDENTITY_INSERT [dbo].[CONTACTOS] ON 
INSERT [dbo].[CONTACTOS] ([ID], [NOMBRE], [MAIL], [TELEFONO]) VALUES (1, N'Tesorería', N'tesoreria@davinci.edu.ar', N'15-2222-2222')
INSERT [dbo].[CONTACTOS] ([ID], [NOMBRE], [MAIL], [TELEFONO]) VALUES (2, N'Escuela Da Vinci', N'davinci@davinci.edu.ar', N'15-1111-1111')
INSERT [dbo].[CONTACTOS] ([ID], [NOMBRE], [MAIL], [TELEFONO]) VALUES (3, N'Dpto. Alumnos', N'alumnos@davinci.edu.ar', N'15-0000-0000')
SET IDENTITY_INSERT [dbo].[CONTACTOS] OFF 
GO
SET IDENTITY_INSERT [dbo].[CUADERNO_COMUNICADOS] ON 
INSERT [dbo].[CUADERNO_COMUNICADOS] ([ID], [ID_ALUMNO], [ID_PROFESOR], [DESCRIPCION], [FECHA]) VALUES (1, 1, 3, N'El alumno no cumplió con el código de vestimenta impuesto por la institución.', CAST(N'2022-05-15T12:00:00.000' AS DateTime))
INSERT [dbo].[CUADERNO_COMUNICADOS] ([ID], [ID_ALUMNO], [ID_PROFESOR], [DESCRIPCION], [FECHA]) VALUES (2, 1, 3, N'El alumno recibe un llamado de atención por usar el teléfono en clase', CAST(N'2022-05-12T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[CUADERNO_COMUNICADOS] OFF 
GO
SET IDENTITY_INSERT [dbo].[DESEMPEÑO] ON 
INSERT [dbo].[DESEMPEÑO] ([ID], [ID_ALUMNO], [DESCRIPCION], [FECHA]) VALUES (1, 1, N'El desempeño del alumno es satisfactorio, demuestra esfuerzo y dedicación en sus trabajos', CAST(N'2022-04-10T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DESEMPEÑO] OFF 
GO
SET IDENTITY_INSERT [dbo].[EVENTOS] ON 
INSERT [dbo].[EVENTOS] ([ID], [NOMBRE], [DESCRIPCION], [FECHA]) VALUES (2, N'Acto de inicio de año 2022', N'Convocatoria para padres y alumnos para conmemorar el inicio del año escolar.', CAST(N'2022-03-14T09:00:00.000' AS DateTime))
INSERT [dbo].[EVENTOS] ([ID], [NOMBRE], [DESCRIPCION], [FECHA]) VALUES (3, N'Comunión', N'Se celebra la comunión de los alumnos de 4° año.', CAST(N'2022-05-19T12:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[EVENTOS] OFF
GO
SET IDENTITY_INSERT [dbo].[HIJOS] ON 
INSERT [dbo].[HIJOS] ([ID], [ID_PADRE], [ID_HIJO]) VALUES (1, 5, 1)
SET IDENTITY_INSERT [dbo].[HIJOS] OFF 
GO
SET IDENTITY_INSERT [dbo].[INTEGRANTES_EVENTOS] ON 
INSERT [dbo].[INTEGRANTES_EVENTOS] ([ID], [ID_EVENTO], [ID_USUARIO]) VALUES (1, 2, 1)
INSERT [dbo].[INTEGRANTES_EVENTOS] ([ID], [ID_EVENTO], [ID_USUARIO]) VALUES (2, 2, 3)
INSERT [dbo].[INTEGRANTES_EVENTOS] ([ID], [ID_EVENTO], [ID_USUARIO]) VALUES (3, 2, 4)
SET IDENTITY_INSERT [dbo].[INTEGRANTES_EVENTOS] OFF 
GO
SET IDENTITY_INSERT [dbo].[INTEGRANTES_MATERIAS] ON 
INSERT [dbo].[INTEGRANTES_MATERIAS] ([ID], [ID_MATERIA], [ID_USUARIO]) VALUES (1, 1, 1)
INSERT [dbo].[INTEGRANTES_MATERIAS] ([ID], [ID_MATERIA], [ID_USUARIO]) VALUES (2, 1, 3)
INSERT [dbo].[INTEGRANTES_MATERIAS] ([ID], [ID_MATERIA], [ID_USUARIO]) VALUES (3, 5, 1)
SET IDENTITY_INSERT [dbo].[INTEGRANTES_MATERIAS] OFF 
GO
SET IDENTITY_INSERT [dbo].[MATERIAS] ON 

INSERT [dbo].[MATERIAS] ([ID], [NOMBRE], [CURSO]) VALUES (1, N'Matemática', N'1°A')
INSERT [dbo].[MATERIAS] ([ID], [NOMBRE], [CURSO]) VALUES (2, N'Matemática', N'1°B')
INSERT [dbo].[MATERIAS] ([ID], [NOMBRE], [CURSO]) VALUES (3, N'Matemática', N'2°A')
SET IDENTITY_INSERT [dbo].[MATERIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[PAGOS] ON 
INSERT [dbo].[PAGOS] ([ID], [ID_ALUMNO], [CONCEPTO], [MONTO], [PAGADO], [VENCIMIENTO]) VALUES (1, 1, N'Cuota Enero 2022', 15200, 1, CAST(N'2022-02-05T00:00:00.000' AS DateTime))
INSERT [dbo].[PAGOS] ([ID], [ID_ALUMNO], [CONCEPTO], [MONTO], [PAGADO], [VENCIMIENTO]) VALUES (2, 1, N'Cuota Febrero 2022', 15200, 1, CAST(N'2022-03-05T00:00:00.000' AS DateTime))
INSERT [dbo].[PAGOS] ([ID], [ID_ALUMNO], [CONCEPTO], [MONTO], [PAGADO], [VENCIMIENTO]) VALUES (3, 1, N'Cuota Marzo 2022', 16400, 1, CAST(N'2022-04-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[PAGOS] OFF 
GO
SET IDENTITY_INSERT [dbo].[TAREAS] ON 
INSERT [dbo].[TAREAS] ([ID], [TITULO], [DESCRIPCION], [FECHA_ENTREGA], [ENTREGADO], [CALIFICACION], [ID_MATERIA], [ID_ALUMNO]) VALUES (1, N'Ejercicios 1-5', N'Completar los ejercicios 1-5 de la unidad 2 utilizando los métodos vistos en clase', CAST(N'2022-02-01T00:00:00.000' AS DateTime), 1, 8.5, 1, 1)
INSERT [dbo].[TAREAS] ([ID], [TITULO], [DESCRIPCION], [FECHA_ENTREGA], [ENTREGADO], [CALIFICACION], [ID_MATERIA], [ID_ALUMNO]) VALUES (2, N'Evaluación Polinomios', N'', CAST(N'2022-02-25T00:00:00.000' AS DateTime), 1, 7, 1, 1)
INSERT [dbo].[TAREAS] ([ID], [TITULO], [DESCRIPCION], [FECHA_ENTREGA], [ENTREGADO], [CALIFICACION], [ID_MATERIA], [ID_ALUMNO]) VALUES (3, N'Evaluación Análisis sintáctico', N'', CAST(N'2022-03-07T00:00:00.000' AS DateTime), 1, 8, 5, 1)
SET IDENTITY_INSERT [dbo].[TAREAS] OFF 
GO
SET IDENTITY_INSERT [dbo].[USUARIOS] ON 

INSERT [dbo].[USUARIOS] ([ID], [ACTIVO], [NOMBRE], [APELLIDO], [PERFIL], [MAIL]) VALUES (1, 1, N'Rodrigo', N'Santalla', N'ALUMNO', N'rodrigo.santalla@davinci.edu.ar')
INSERT [dbo].[USUARIOS] ([ID], [ACTIVO], [NOMBRE], [APELLIDO], [PERFIL], [MAIL]) VALUES (3, 1, N'Santiago', N'Traverso', N'DOCENTE', N'santiago.traverso@davinci.edu.ar')
INSERT [dbo].[USUARIOS] ([ID], [ACTIVO], [NOMBRE], [APELLIDO], [PERFIL], [MAIL]) VALUES (4, 1, N'Santiago', N'Linares', N'PRECEPTOR', N'santiago.linares@davinci.edu.ar')
SET IDENTITY_INSERT [dbo].[USUARIOS] OFF
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIA_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[ASISTENCIA] CHECK CONSTRAINT [FK_ASISTENCIA_ALUMNO]
GO
ALTER TABLE [dbo].[ASISTENCIA]  WITH CHECK ADD  CONSTRAINT [FK_ASISTENCIA_MATERIA] FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[MATERIAS] ([ID])
GO
ALTER TABLE [dbo].[ASISTENCIA] CHECK CONSTRAINT [FK_ASISTENCIA_MATERIA]
GO
ALTER TABLE [dbo].[CUADERNO_COMUNICADOS]  WITH CHECK ADD  CONSTRAINT [FK_CUADERNO_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CUADERNO_COMUNICADOS] CHECK CONSTRAINT [FK_CUADERNO_ALUMNO]
GO
ALTER TABLE [dbo].[CUADERNO_COMUNICADOS]  WITH CHECK ADD  CONSTRAINT [FK_CUADERNO_PROFESOR] FOREIGN KEY([ID_PROFESOR])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[CUADERNO_COMUNICADOS] CHECK CONSTRAINT [FK_CUADERNO_PROFESOR]
GO
ALTER TABLE [dbo].[DESEMPEÑO]  WITH CHECK ADD  CONSTRAINT [FK_DESEMPEÑO_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[DESEMPEÑO] CHECK CONSTRAINT [FK_DESEMPEÑO_ALUMNO]
GO
ALTER TABLE [dbo].[HIJOS]  WITH CHECK ADD  CONSTRAINT [FK_HIJOS_HIJO] FOREIGN KEY([ID_HIJO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[HIJOS] CHECK CONSTRAINT [FK_HIJOS_HIJO]
GO
ALTER TABLE [dbo].[HIJOS]  WITH CHECK ADD  CONSTRAINT [FK_HIJOS_PADRE] FOREIGN KEY([ID_PADRE])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[HIJOS] CHECK CONSTRAINT [FK_HIJOS_PADRE]
GO
ALTER TABLE [dbo].[INTEGRANTES_EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTOS_EVENTO] FOREIGN KEY([ID_EVENTO])
REFERENCES [dbo].[EVENTOS] ([ID])
GO
ALTER TABLE [dbo].[INTEGRANTES_EVENTOS] CHECK CONSTRAINT [FK_EVENTOS_EVENTO]
GO
ALTER TABLE [dbo].[INTEGRANTES_EVENTOS]  WITH CHECK ADD  CONSTRAINT [FK_EVENTOS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[INTEGRANTES_EVENTOS] CHECK CONSTRAINT [FK_EVENTOS_USUARIO]
GO
ALTER TABLE [dbo].[INTEGRANTES_MATERIAS]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_MATERIA] FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[MATERIAS] ([ID])
GO
ALTER TABLE [dbo].[INTEGRANTES_MATERIAS] CHECK CONSTRAINT [FK_MATERIAS_MATERIA]
GO
ALTER TABLE [dbo].[INTEGRANTES_MATERIAS]  WITH CHECK ADD  CONSTRAINT [FK_MATERIAS_USUARIO] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[INTEGRANTES_MATERIAS] CHECK CONSTRAINT [FK_MATERIAS_USUARIO]
GO
ALTER TABLE [dbo].[PAGOS]  WITH CHECK ADD  CONSTRAINT [FK_PAGOS_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[PAGOS] CHECK CONSTRAINT [FK_PAGOS_ALUMNO]
GO
ALTER TABLE [dbo].[TAREAS]  WITH CHECK ADD  CONSTRAINT [FK_TAREAS_ALUMNO] FOREIGN KEY([ID_ALUMNO])
REFERENCES [dbo].[USUARIOS] ([ID])
GO
ALTER TABLE [dbo].[TAREAS] CHECK CONSTRAINT [FK_TAREAS_ALUMNO]
GO
ALTER TABLE [dbo].[TAREAS]  WITH CHECK ADD  CONSTRAINT [FK_TAREAS_MATERIA] FOREIGN KEY([ID_MATERIA])
REFERENCES [dbo].[MATERIAS] ([ID])
GO
ALTER TABLE [dbo].[TAREAS] CHECK CONSTRAINT [FK_TAREAS_MATERIA]
GO
USE [master]
GO
