.vs/
bin/
obj/
*.user
*.suo
*.cache
*.db
*.db-shm
*.db-wal
FileContentIndex/
CopilotIndices/
ProjectEvaluation/
PubTmp/
*.staticwebassets.*
*.pubxml.user
PublishOutputs*.txt
*.vscode/
*.vsidx
DesignTimeBuild/
*.log
.dbcache.v2
*.pubxml.user
*.Publish.xml.user
*.tmp