@page
@using PegasusWeb.Entities
@model PegasusWeb.Pages.CreateCursoModel
@{
    var esEdicion = Model.Curso.Id > 0;
    var titulo = esEdicion ? "Editar Curso" : "Cargar Nuevo Curso";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cursos</title>
</head>
<body>
    <h4>@titulo</h4>
    <hr />
    <form method="post">    
        <input type="hidden" name="id" asp-for="Curso.Id" />
        <table>
            <tr>
                <td>Nombre del curso</td>
                <td><input type="text" asp-for="Curso.Nombre_Curso" class="form-control" name="nombre"/></td>
            </tr>
            <span class="text-danger" asp-validation-for="nombre"></span>
            <tr>
                <td>Grado</td>
                <td><input type="number" asp-for="Curso.Grado" class="form-control" name="grado"/></td>
            </tr>
            <span class="text-danger" asp-validation-for="grado"></span>
            <tr>
                <td>Division</td>
                <td><input type="text" asp-for="Curso.Division" class="form-control" name="division" /></td>
            </tr>
            <span class="text-danger" asp-validation-for="division"></span>
            <tr>
                <td>Turno</td>
                <td><input type="text" asp-for="Curso.Turno" class="form-control" name="turno" /></td>
            </tr>
            <span class="text-danger" asp-validation-for="turno"></span>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</body>
</html>