@page
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Newtonsoft.Json;
@using PegasusWeb.Entities;
@using System.Text;
@model PegasusWeb.Pages.CreateMateriaModel
@{
}
<form method="post">
    @Html.ValidationMessageFor(a =>a.materia, "Hubo un error inesperado creando la Materia")
    <table>
        <tr>
            <td>Nombre de la materia</td>
            <td><input type="text" id="nombreMateria" name="nombreMateria" /></td>
            @Html.ValidationMessageFor(a =>a.nombreMateria, "El campo es requerido")
        </tr>
        <tr>
            <td>Curso</td>
            <td><input type="text" id="curso" name="curso" /></td>
            <!--No deberia mostrarlos todo el tiempo-->
            @Html.ValidationMessageFor(a =>a.curso, "El campo es requerido")
        </tr>
    </table>
    <button class="btn btn-default">Guardar</button>
</form>
