@page
@using PegasusWeb.Entities
@model PegasusWeb.Pages.EventoModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Evento</h4>
    <hr />
    <a class="nav-link text-dark" asp-area="" asp-page="/CreateEvento">Crear Evento</a>
    @foreach (Evento evento in Model.Eventos)
    {
        <div class="row">
            <div class="col-4"></div>
            <div class="card col-4" style="width: 25rem; margin-top:1rem; margin-right:3rem; margin-bottom:1rem; margin-left:2rem; position:center">
                <div class="card-body">
                    <h3 class="card-title">@evento.Nombre</h3>
                    <p class="card-text">@evento.Descripcion</p>
                    <p class="card-text">@evento.Fecha</p>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    }
</body>
</html>