@page
@using PegasusWeb.Entities
@model PegasusWeb.Pages.IntegrantesMateriasModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4 class="centrado">Alumnos</h4>
    <br />
    <div class="center-screen">
        <input type="text" id="busqueda" placeholder="Buscar alumnos..." onkeyup="buscarAlumnos()">
    </div>
    <div class="container">
        <table id="tablaAlumnos" class="table">
            <thead>
                <tr>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Nota</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (IntegrantesMaterias alumno in Model.Alumnos)
                {
                    <tr>
                        <td>@alumno.Usuario.Apellido</td>
                        <td>@alumno.Usuario.Nombre</td>
                        <td>7</td>
                        <td><a asp-page="/CreateCalificacion" asp-route-materia="@alumno.Id_Materia" asp-route-usuario="@alumno.Id_Usuario"><img src="~/img/lapiz.png" class="icon" alt=""></a></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="center-screen">
            <button class="btn btn-primary btn-custom" asp-area="" asp-page="/CreateMateria" style="margin:10px; ">Reporte</button>
        </div>
    </div>
</body>
</html>

@section scripts{
    <script>
        function buscarAlumnos() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("busqueda");
            filter = input.value.toUpperCase();
            table = document.getElementById("tablaAlumnos");
            tr = table.getElementsByTagName("tr");

            for (i = 1; i < tr.length; i++) { // Comenzar en 1 para omitir la primera fila de títulos
                // Comprobar si algún valor de las columnas nombre o apellido coincide con el filtro
                var match = false;
                for (j = 0; j < 2; j++) { // Iterar sobre las columnas 0 (nombre) y 1 (apellido)
                    td = tr[i].getElementsByTagName("td")[j];
                    if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            match = true;
                            break; // Salir del bucle si se encuentra una coincidencia en alguna columna
                        }
                    }
                }
                // Mostrar u ocultar la fila en función de si se encontró una coincidencia
                tr[i].style.display = match ? "" : "none";
            }
        }
    </script>
}