@page
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Newtonsoft.Json;
@using PegasusWeb.Entities;
@using System.Text;
@model PegasusWeb.Pages.CreateMateriaModel
@{
    var esEdicion = Model.Materia.Id > 0;
    var titulo = esEdicion ? "Editar Materia" : "Cargar Nueva Materia";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Materias</title>
</head>
<body>
    <h4>@titulo</h4>
    <hr />
    <form method="post">
        <input type="hidden" name="id" asp-for="Materia.Id" />
        <table>
            <tr>
                <td>Nombre de la materia</td>
                <td><input type="text" asp-for="Materia.Nombre" class="form-control" name="nombre" /></td>
            </tr>
            <span class="text-danger" asp-validation-for="nombre"></span>
            <tr>
                <td>Seleccionar Curso</td>
                <td>
                    <select asp-for="CursoSeleccionadoId" asp-items="Model.CursosRelacionados" class="form-control">
                        <option value="">-- Seleccionar un curso --</option>
                    </select>
                </td>
            </tr>
            <span class="text-danger" asp-validation-for="CursoSeleccionadoId"></span>
        </table>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    <br />
    <br />

    <form method="post" asp-page-handler="ModificarContenido" style="@(Model.Materia.Id <= 0 ? "display:none;" : "")">
        <h3>Contenidos</h3>
        <div class="container">
            <input type="hidden" name="materia" asp-for="Materia.Id" />
            <table id="tablaAlumnos" class="table">
                <thead>
                    <tr>
                        <th>Apellido</th>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var alumno in Model.Contenidos)
                    {
                        <tr>
                            <td>@alumno.Usuario.Apellido</td>
                            <td>@alumno.Usuario.Nombre</td>
                        </tr>
                    }
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary Model.Materia.Id"> Modificar Contenidos</button>
        </div>
    </form>

</body>
</html>