@page
@using PegasusWeb.Entities
@model ListaMateriasModel
@{
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Materias</h4>
    <hr />
    <div class="row">
        @foreach (PegasusWeb.Entities.Materia materia in Model.Materias)
        {
            <div class="col-md-3 justify-content-center">
                <a asp-page="/IntegrantesMaterias" asp-route-materia="@materia.Id" class="card card-custom card-title-center justify-content-center">
                    <img src="~/img/libros.png" class="card-img-top" alt="">
                    <h5 class="card-title card-title-center">@materia.Nombre</h5>
                </a>
            </div>
        }
    </div>
</body>
</html>