html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid {
    display: grid;
    background-color: #2196F3;
}

#Idle {
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.grid-column {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color:black;
}

.card-img-top {
    border-radius: 30px; /* Redondear los bordes de la imagen */
    /*object-fit: cover; /* Asegurar que la imagen cubra el contenedor */
    text-align: center;
    width: 200px;
    align-content: center;
    height: 150px;
    padding-left: 50px;
    text-decoration: none;
}

.card-img-top2 {
    border-radius: 30px; /* Redondear los bordes de la imagen */
    text-align: center;
    width: 150px;
    align-content: center;
    height: 150px;
    text-decoration: none;
}

.card-custom {
    border-radius: 50px; /* Redondear los bordes de la tarjeta */
    margin-top: 30px;
    text-align: center;
    object-fit: cover;
    align-content: center;
    width: 250px; /* Ancho fijo */
    height: 250px; /* Alto fijo */
    color: inherit;
    text-decoration: none;
    transition: box-shadow 0.3s, background-color 0.3s; /* Transición suave */
}

.card-custom:hover {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.5); /* Sombra al pasar el mouse */
        background-color: #cce5ff; /* Cambiar el color de fondo al pasar el mouse */
}

.card-title-centar {
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: inherit;
}

.btn-custom {
    border-radius: 15px; /* Redondear los bordes del botón */
    transition: box-shadow 0.3s, background-color 0.3s; /* Transición suave */
}

.btn-custom:hover {
        box-shadow: 0 0 7px rgba(0, 0, 255, 0.5); /* Sombra al pasar el mouse */
        background-color: #2196F3; /* Cambiar el color de fondo al pasar el mouse */
}

.icon {
    width: 25px;
    cursor: pointer;
}

.icon:hover {
        opacity: 0.5;
}

.centrado {
    text-align: center; /* Centrar el texto dentro del contenedor */
}

.center-screen {
    text-align: center;
}

.nested-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.nested-table td, .nested-table th {
    border: 1px solid black;
    padding: 5px;
}

.nested-table2 {
    border-collapse: collapse;
    width: 50%;
}

    .nested-table2 td, .nested-table2 th, .nested-table2 tr{
        padding: 2px;
        border: none;
    }

/* Estilos para el cuadro de diálogo personalizado */
.custom-alert {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.custom-alert-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.custom-alert-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.custom-alert-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.custom-alert-content button:hover {
    opacity: 0.8;
}

/* Estilo para el botón de éxito */
.custom-alert-content:not(.error-content) button {
    background-color: #28a745; /* Verde para éxito */
}

/* Estilo para el botón de error */
.error-content button {
    background-color: #dc3545; /* Rojo para error */
}

.error-content button:hover {
    background-color: #c82333; /* Rojo más oscuro para hover */
}


/* Contenedor que coloca los botones en columna */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espacio entre los botones */
}

/* Estilo de los botones principales */
.toggle-button {
    background-color: #007bff11;
    color: gray;
    border-color: #2196f3bf;
    margin: 5px 0;
    cursor: pointer;
    font-size: 16px;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    position: relative; /* Para poder posicionar el símbolo */
    flex-grow: 1; /* Hace que este botón crezca para ocupar el espacio */
    transition: box-shadow 0.3s ease;
    width: 300px; /* Ancho fijo para los botones */
    max-width: 100%; /* Asegura que no sobrepase el tamaño del contenedor */
}

/* Simbolo "+" o "-" al final del botón con estilo de botón independiente */
.symbol-button {
    background-color: #007aff79;
    color: rgba(255, 255, 255, 0.8);
    /* border: 2px solid #007bff;*/
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 1px;
    transition: background-color 0.3s ease, color 0.3s ease;
    position: absolute; /* Lo posicionamos independientemente del contenido */
    right: 10px; /* Alineado a la derecha del botón */
}

/* Cambiar el estilo del símbolo al pasar el ratón por encima */
.toggle-button:hover .symbol-button {
    background-color: #007bff;
    color: white;
}

/* Contenido desplegable oculto */
.content {
    display: none;
    padding: 10px;
    background-color: #8888880c;
    margin-top: 5px;
    color: gray;
    /* width: 300px;*/ /* Mismo ancho que el botón */
}

/* Mostrar contenido cuando el botón está activo */
.active + .content {
    display: block;
}

/* Contenedor para el botón desplegable y el botón editar */
.button-row {
    display: flex;
    align-items: center;
    gap: 10px; /* Espacio entre el botón principal y el botón editar */
    width: 300px; /* Ancho fijo para que ambos botones tengan el mismo tamaño */
}

.edit-image, .delete-image {
    cursor: pointer;
    width: 26px;
    height: 26px;
}
.swal2-icon {
    font-size: 8px;
}
.swal2-title{
    padding-top:0;
}
.swal2-html-container{
    padding-top: 0px;
}
.swal2-icon {
    margin-top: 0px;
    padding-top: 0;
}
.swal2-modal, .swal2-icon-warning, .swal2-show{
    padding-top:0px;
}
.my-custom-title{
    font-size: 22px;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

textarea:focus {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    outline: none;
}

textarea::placeholder {
    color: #c0c0c0;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra horizontalmente los elementos dentro de este div */
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
    text-align: center; /* Alinea el texto del label en el centro */
}

.inputMio {
    width: 30%;
    font-family: 'Tahoma', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    border: none;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.inputMio:focus {
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
    outline: none;
}

.inputMio::placeholder {
    color: #c0c0c0;
}