html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.grid {
    display: grid;
    background-color: #2196F3;
}

#Idle {
    pointer-events: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 15px;
    text-align: center;
}

.grid-column {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color:black;
}

.card-img-top {
    border-radius: 30px; /* Redondear los bordes de la imagen */
    /*object-fit: cover; /* Asegurar que la imagen cubra el contenedor */
    text-align: center;
    width: 200px;
    align-content: center;
    height: 150px;
    padding-left: 50px;
    text-decoration: none;
}

.card-custom {
    border-radius: 50px; /* Redondear los bordes de la tarjeta */
    margin-top: 30px;
    text-align: center;
    object-fit: cover;
    align-content: center;
    width: 250px; /* Ancho fijo */
    height: 250px; /* Alto fijo */
    color: inherit;
    text-decoration: none;
    transition: box-shadow 0.3s, background-color 0.3s; /* Transición suave */
}

.card-custom:hover {
        box-shadow: 0 0 15px rgba(0, 0, 255, 0.5); /* Sombra al pasar el mouse */
        background-color: #cce5ff; /* Cambiar el color de fondo al pasar el mouse */
}

.card-title-centar {
    text-align: center;
    align-content: center;
    text-decoration: none;
    color: inherit;
}

.btn-custom {
    border-radius: 15px; /* Redondear los bordes del botón */
    transition: box-shadow 0.3s, background-color 0.3s; /* Transición suave */
}

.btn-custom:hover {
        box-shadow: 0 0 7px rgba(0, 0, 255, 0.5); /* Sombra al pasar el mouse */
        background-color: #2196F3; /* Cambiar el color de fondo al pasar el mouse */
}

.icon {
    width: 25px;
}

.icon:hover {
        opacity: 0.5;
}

.centrado {
    text-align: center; /* Centrar el texto dentro del contenedor */
}

.center-screen {
    text-align: center;
}

.nested-table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

.nested-table td, .nested-table th {
    border: 1px solid black;
    padding: 5px;
}

/* Estilos para el cuadro de diálogo personalizado */
.custom-alert {
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
}

.custom-alert-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
}

.custom-alert-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.custom-alert-content button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.custom-alert-content button:hover {
    opacity: 0.8;
}

/* Estilo para el botón de éxito */
.custom-alert-content:not(.error-content) button {
    background-color: #28a745; /* Verde para éxito */
}

/* Estilo para el botón de error */
.error-content button {
    background-color: #dc3545; /* Rojo para error */
}

.error-content button:hover {
    background-color: #c82333; /* Rojo más oscuro para hover */
}